.header {
  width: 100%;
  padding: 20px 40px;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  // margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.header ul {
  list-style: none;
}
