.found-list {
    display: flex;
    flex-direction: column;

    &__item {
        display: grid;
        grid-template-columns: 40px 200px 200px 100px 100px 100px 100px 110px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 14px;

        &--heading {
            font-weight: 600;
            // text-align: center;
        }

        &__cell {
            display: flex;
            align-items: center;
            // justify-content: center;
            padding: 10px;

            & + & {
                border-left: 1px solid rgba(0, 0, 0, 0.1);
            }
        }

        & + & {
            border-top: none;
        }
    }
}
