.found-list-wrapper {
  width: 100%;
  overflow: auto;
  margin-bottom: 25px;
}

.found-list {
  width: fit-content;
  display: flex;
  flex-direction: column;

  &__item {
    width: fit-content;
    flex-shrink: 0;
    display: flex;
    font-size: 14px;

    &--heading {
      font-weight: 600;
      // text-align: center;
    }

    &__cell {
      &:first-child {
        width: 8%;
      }

      width: fit-content;
      display: flex;
      align-items: center;
      // justify-content: center;
      padding: 10px;
      flex-shrink: 0;
    }

    &__cell--actions {
      gap: 10px;
    }
  }

  &__item:nth-child(odd) {
    background-color: #f5f5f5;
  }
}

.table-cell-wide {
  min-width: 150px;
}

.table-cell-no-wrap {
  white-space: nowrap;
}

// .found-list-table {
//   border: 1px solid rgba(0, 0, 0, 0.1);
// }

// .found-list-table thead tr th {
//   background-color: #e7effb;
//   line-height: 1.15;
// }

// .found-list-table tbody tr:nth-child(even) {
//   background-color: rgba(0, 104, 208, 0.1);
// }

.found-list-table tbody tr td {
  color: #000;
  padding: 8px 16px;
}

.found-list-table * {
  font-family: "Poppins", sans-serif !important;
}


// .found-list-table .css-1xtozoh-MuiTableRow-root.MuiTableRow-hover:hover {
//   background-color: rgba(0, 104, 208, 0.2);
// }
