.found-list {
    display: flex;
    flex-direction: column;

    &__item {
        display: flex;

        &--heading {
            font-weight: 600;
            // text-align: center;
        }

      &__cell:first-child{
        width: 5%;
      }

        &__cell {
            display: flex;
          width: 13%;
            align-items: center;
            // justify-content: center;
            padding: 10px;


        }

      &__cell--actions {
        gap: 10px;
      }

    }

  &__item:nth-child(odd){
    background: #eee;
  }
}
