.header {
  width: 100%;
  padding: 30px 40px;
  // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  // margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

header ul li {
  list-style: none;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
}

.header-text {
  font-weight: 700;
  color: #000;
  display: block;
  text-decoration: none;
}
