.main-found-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;

    &__title {
        // text-align: center;
    }

    &__forms-wrapper {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        gap: 15px 30px;
    }
}
